<!DOCTYPE html> 
<html lang="en"xmlns:th="http://www.thymeleaf.org"> 
        <head> 
                <meta charset="utf-8"> 
                <title>Cadastro de Entrada</title> 
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

    </head> 
    <body> 
                <h1>Entrada</h1> 
                <form action="#" th:action="@{/cadastrarEntrada}" th:object="${entrada}" method="POST"> 
                      
            <p>Equipamento:<input type="text" th:field="*{equipamento}"/></p>
            
            <p>Categoria:<input type ="text" th:field="*{categoria}"/></p>
           
            <p>Quantidade: <input type="text" th:field="*{quantidade}"/></p>
           
               
                        <p><input type="submit" value="Cadastrar" /></p> 
                    </form> 
            </body> 
</html> 
